<div class="container-fluid">
  <footer
    class="d-flex flex-wrap justify-content-center align-items-center border-top"
  >
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted"
          >Cread by: Fernando Gonzalez</a
        >
      </li>
      <li class="nav-item">
        <a
          href="https://devgonzalezf.netlify.app/"
          class="nav-link px-2 text-muted"
          ><i class="fa-solid fa-person-walking-luggage"></i> Portfolio</a
        >
      </li>
      <li class="nav-item">
        <a
          href="www.linkedin.com/in/fernando-emanuel-gonzalez"
          class="nav-link px-2 text-muted"
          ><i class="fa-brands fa-linkedin"></i> linkedin</a
        >
      </li>
      <li class="nav-item">
        <a
          href="https://github.com/fernandogonzalez90"
          class="nav-link px-2 text-muted"
          ><i class="fa-brands fa-square-github"></i> GitHub</a
        >
      </li>
    </ul>
  </footer>
</div>
